.title {
  display:flex;
  justify-content: center;
  color:red;
  font-size:50px;
}

.subject {
  background-color: aqua;
}
.control {
  background-color: beige;
}
.viewerForm {
  background-color: blueviolet;
  margin-top:50px;
}

.viewerForm > input {
 
  display:block;
}